<footer class="footer">
  <small>
    <a href="http://facebook.com/mehedihasan.shakil.5/">Chotolok</a>
    by Sha Kil
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://banglanews24.com/">News</li>
    </ul>
  </nav>
</footer>
